form .formrow {
  display: grid;
  grid-template-columns: 190px 1fr;
  margin-right: 20px;
}
.main {
  width: 450px;
  border: 3px solid darkmagenta;
  box-shadow: 0 0 25px darkmagenta;
  background-color: rgba(245, 168, 232, 0.747);
  color: black;
  border-radius: 10px;
  margin-top: 50px;
}
button {
  margin: 20px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 25px lightblue;
  padding: 10px;
  background-color: lavender;
  color: black;
}
button:hover {
  background-color: darkorchid;
  color: white;
}
input[type="radio"] {
  accent-color: purple;
}
input:focus {
  outline: 3px solid purple;
  outline-offset: 2px;
}
label {
  color: purple;
  font-weight: bolder;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 36px;

}

